<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>فال حافظ</title>
</head>

<body>
    <div id="container">
        <h1>فال حافظ</h1>
        <button id="getFal" onclick="getFal()">نیت کردم. فال منو بگیر!</button>
        <button id="backButton" style="display: none;">دمت گرم</button>
        <h4 id="falTitle"></h4>
        <hr>
        <div id="falInter">
            <p id="falText"></p>
        </div>

    </div>
    <script src="./script.js"></script>
</body>

</html>