<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>فال حافظ</title>
</head>

<body>
    <div id="container">
        <h1>فال حافظ</h1>
        <h4>لطفا نیت بفرمایید و بر روی دکمه زیر کلیک کنید.</h4>
        <button id="getFal" onclick="getFal()">نیت کردم. فال منو بگیر!</button>
        <button id="backButton" style="display: none;">دمت گرم</button>
        <h4 id="falTitle"></h4>
        <hr>
        <h5 id="waitText"></h5>
        <div id="falInter">
            <p id="falText"></p>
        </div>
    </div>
    <footer>
        <h5>طراحی شده توسط <a href="https://linkedin.com/in/kourox">کوروش مرندی</a> در شمسی‌پور تهران</h5>
    </footer>
    <a id="footerDonate" href="https://www.coffeebede.com/nikmarandi"><img class="img-fluid" src="https://coffeebede.ir/DashboardTemplateV2/app-assets/images/banner/default-yellow.svg" /></a>
    <script src="./script.js"></script>
</body>

</html>
